{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- start header -->
<!-- start top_bg -->
<div class="top_bg">
    <div class="wrap">
        <div class="top">
            <h2>成功案例</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="wrap">
    <div class="main mainBox">
        <div class="details">
            <h2>案情简介</h2>
            <div class="det_pic">
                <img src="{% static 'images/det_pic.jpg' %}" alt="" />
            </div>
            <div class="det_text">
                <p class="para">原告丈夫2016年3月17日下午17时，在公司上班时突然生病头痛，但吃完晚饭后继续上班，但是头痛难忍，加班至20时就顶不住了，回隔壁家中休息。原告丈夫头痛持续至3月18日凌晨5时，病情加重，原告立刻拨打120急救电话叫救护车，但由于路途较远救护车于凌晨6时5分才将申昌福送往赣南医学院第一附属医院抢救。当日6时16分原告丈夫在医院经抢救无效死亡。市人力资源和社会保障局认定原告丈夫不属于工伤。</p>
            </div>
            <br>
            <h2>律师意见</h2>
            <div class="det_text">
                <p class="para">原告丈夫属于在工作时间和工作岗位突发疾病，应予认定为工伤，其突发疾病的头痛是导致死亡的症状，是从工作时间发生延续直至其抢救无效死亡，符合《工伤保险条例》第十五条的规定。</p>
            </div>
            <br>
            <h2>判决结果</h2>
            <div class="det_text">
                <p class="para">法院认定原告丈夫属于工伤，判决撤销市人力资源和社会保障局作出的不予认定工伤决定，责令重新作出工伤认定决定。</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}
<div class="footer_bg1">
    <div class="wrap">
        <div class="footer1">
            <!-- scroll_top_btn -->
            <script type="text/javascript">
                $(document).ready(function() {
                
                    var defaults = {
                        containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear' 
                    };
                    
                    
                    $().UItoTop({ easingType: 'easeOutQuart' });
                    
                });
            </script>
            <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
            <!--end scroll_top_btn -->
            <div>
                <p class="bqsy">2017 © 版权所有 {{ result.name | safe }}律师</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>