{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .para{
        font-size: 1em;
        color: #555555;
        line-height: 2em;
        text-align: left;
        text-indent: 2em;
    }
</style>

<div id="da-slider" class="da-slider">
    <div class="da-slide">
        <p><img src="{% static 'images/nav-1.png' %}" alt=""></p>
    </div>
    <div class="da-slide">
        <p><img src="{% static 'images/nav-2.png' %}" alt=""></p>
    </div>
    <div class="da-slide">
        <p><img src="{% static 'images/nav-3.png' %}" alt=""></p>
    </div>
    <div class="da-slide">
        <p><img src="{% static 'images/nav-4.png' %}" alt=""></p>
    </div>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>

<div class="wrap">
    <div class="main mainBox">
        <div class="main_box">
            <div class="main_pic">
                <img src="{{ result.image_url }}" alt="">
                <p><span>{{ result.name | safe }}律师</span><br />
                    <span>江西南芳律师事务所主办律师</span><br />
                    <span>水西中心小学法制副校长</span><br />
                </p>
            </div>
            <div class="main_text">
                <h2>金牌律师</h2>
                <div class="abt-para">
                    <div class="det_text">
                        <div class="para">{{ result.description | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}