{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/page.css' %}" rel="stylesheet" type="text/css" />

<div class="top_bg">
    <div class="wrap">
        <div class="top">
            <h2>成功案例 -- {{ result.case_type }}</h2>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="main mainBox">
        {% for single_list in result.case_list %}
        <div class="span_of_3">
            {% for case in single_list %}
            <div class="span1_of_3">
                <a href="?case_type={{ result.case_type }}&id={{ case.id }}" class="su_img">
                    {% if case.image %}
                        <img src="{{ case.image.url }}" alt=""></a>
                    {% else %}
                        <img src="{% static 'images/pic1.jpg' %}" alt=""></a>
                    {% endif %}
                <div class="span1_of_3_text">
                    <h3><a href="?case_type={{ result.case_type }}&id={{ case.id }}">{{ case.title }}</a></h3>
                    <p>{{ case.content | truncatewords:"20" }}...</p>
                </div>
                <div class="ser_btn">
                    <a class="button  ser_btn1" href="?case_type={{ result.case_type }}&id={{ case.id }}">查看详情</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}